RewriteEngine On

RewriteRule ^/?$ /index.php
RewriteRule ^stripe?$ /stripe.php
RewriteRule ^charge?$ /charge.php

RewriteRule ^savepaysecret?$ /secrets/secretPayWithSave.php

RewriteRule ^savewithpay?$ /save/saveWithPay.php